.card__title{
    text-align: center;
    font-weight: bold !important;
}
.root{
    max-width: 360;
    min-width: 220;
    border-radius:0;
    padding:15px;
    background-color:white;
    z-index: 1;
    margin-right:10px;

  }
  .media{
    height: 300px;
    object-fit:cover;
  }
  @media only screen and (max-width: 600px) {
.root{
    height: 200px;
    margin: 2px;
    padding: 10px;
}
.imgimg{
    width: 45% !important;
    padding: 3px !important;
}
.HomeCard__main{
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
}
.card__title{
    font-size: 1em !important;
}
.media{
    height: 100px;
    object-fit: fill;
}
.card__desc{
    font-size: 0.7em !important;
}
  }