.footer__row{
    display: flex;
    justify-content: space-evenly;
    
}
.footer__title{
    color: white;
    max-width: 25%;
}
.footer{
    background: rgb(47, 49, 68);
}
.footerlink__social{
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}
.horizontal__line{
    color: white;
    background-color: white;
}
@media only screen and (max-width: 600px) {
.footer__title > span{
    font-size: 0.6em;
}
.imgimg{
    padding: 0;
    width: 160px;
}
.footer{
    margin-bottom: 55px;
}


}