.App{
background-color:whitesmoke;
/* min-width: 1000px; */
}
.HomeCard__main{
    display: flex;
}
a{
    text-decoration:none;
    text-underline-offset: unset;
}
a:hover{
    text-decoration: none !important;
}
html{
    min-width: 1000px;
}
@media only screen and (max-width: 600px) {

html{
min-width: 100%;
}

}